<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理页面</title>
    <script type="text/javascript" src="/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/easyui/easyloader.js"></script>
    <link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css"  href="/easyui/themes/default/easyui.css">
    <!--引入图片上传工具webuploader-->
    <link rel="stylesheet" type="text/css" href="/webuploader/webuploader.css">
    <script type="text/javascript" src="/webuploader/webuploader.js"></script>
    <script type="text/javascript" src="/easyui/datagrid-detailview.js"></script>
</head>


<body class="easyui-layout">
    <div data-options="region:'north',title:'管理后台',split:true" style="height:100px;">
        <h1> 商城管理后台 </h1>
    </div>

    <div data-options="region:'west',title:'管理菜单',split:true" style="width:200px;">
        <div class="easyui-accordion" style="overflow:auto;">
            <div title="基本信息管理">
                <ul class="nav">
                    <li><a href="javascript:add_tab('平台属性管理','attrListPage')" style="text-decoration:none;">平台属性管理</a></li>
                </ul>
            </div>
            <div title="商品信息管理">
                <ul class="nav">
                    <li><a href="javascript:add_tab('商品信息管理','spuListPage')" style="text-decoration:none;">商品信息管理</a></li>
                </ul>
            </div>
            <div title="广告管理">
                <h1>广告管理</h1>
            </div>
        </div>
    </div>

    <div data-options="region:'center',title:'管理后台'"  >
        <div id="tt" class="easyui-tabs" style="width:100%;height:100%;" >
        </div>
    </div>
</body>

<script type="application/javascript">

    function add_tab(title, url){
        if($("#tt").tabs('exists',title)){
            $("#tt").tabs('select', title)
        }else{
            $("#tt").tabs('add',{
                title:title,
                href:url,
                closable:true
            });
        }
    }

</script>

</html>