<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dame.gmall.manage.mapper.SkuSaleAttrValueMapper">
    <select id="selectSkuSaleAttrValueListBySpu" parameterType="String" resultType="com.dame.gmall.bean.SkuSaleAttrValue">
        SELECT
            ssav.*
        FROM
            sku_sale_attr_value ssav
        INNER JOIN sku_info sk ON ssav.sku_id = sk.id
        WHERE
            sk.spu_id = #{spuId}
        ORDER BY
            sk.id,
            sale_attr_value_id
    </select>
</mapper>

